body {
  background-color: #1b1d1e !important;
}

.bg-body-boolean {
  background-color: #001533;
}

.nav-link {
  color: white !important;
}

.title-color {
  color: white !important;
  font-size: 3rem;
}

.list-color{
  background-color: #181a1b!important;
}